/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
Gemfile.lockmicronauticsmslinn@mslinn.com
spec/status_persistence.txt
.jekyll-cache/
.jekyll-metadata
_site/
demo/_site/
demo/.jekyll-cache/
